$bg-color: rgb(247, 209, 139);
$padding: 1em 2em;

body {
  background: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.button {
  background: $bg-color;
  padding: $padding;
  color: rgb(16, 223, 119);
  border: 0;
}
